.btn-container{
    display: grid;
    place-content: center;
}

.input-btns{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.symbols{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.num-btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    width: 150px;
    gap: 1rem;
}

.num-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: rgb(5, 64, 66);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition:background 0.3s ease, transform 0.2s ease;
}

.num-btn:hover{
    background: rgb(5, 94, 97);
    transform: scale(1.05);
}

.fun-btns{
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.black-btn{
    background: black;
}

.black-btn:hover{
    background: rgba(0, 0, 0, 0.952);
}