
.input-bar{
    outline: none;
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
    padding:0 0.5rem;
}