
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 120vh;
}